<apex:page standardController="Opportunity" showHeader="false" tabStyle="Opportunity" showQuickActionVfHeader="false" showChat="false">
        <head>
            <base target="_blank"/>
        </head>
        <style type="text/css">
            .actionColumn {display:none; visibility:hidden}
            <!--.pShowMore {visibility:hidden; display:none;}-->
        </style>
           <apex:relatedList subject="{!Opportunity.Account}" list="CombinedAttachments">
               <apex:facet name="header"><b></b></apex:facet>
           </apex:relatedList>
       
</apex:page>