<apex:page standardController="Account" extensions="CreateBasketAndOfferController" action="{!createBasketForOpenOrderContract}">
    Generating basket and adding offer for account: <apex:outputField value="{!Account.Name}"/>
</apex:page>