<apex:page showHeader="true" sidebar="false" standardController="Account" extensions="EP_Account_Notification_Settings_Ctrl" id="idUploadPage">
	
<style>

	.lookupIcon {common.css (line 4245)
	background-image:url(/img/func_icons/util/lookup20.gif);
	background-position:left top;
	height:20px;
	width:20px;
	}

	img {common.css (line 75)
	border:0pt none;
	}
</style>
<script>
	
	var newWin = null;
	function openLookUpWindow(fieldId,Name,Id,inputHiddenId){
		var url = "/apex/EP_LookUp?fieldId=" + fieldId + "&objectName=" + Name + "&Id="+ Id + "&inputHiddenId="+
					inputHiddenId +"&searchText="+document.getElementById(fieldId).value;
		newWin = window.open(url, 'Popup', 'height=500,width=600,left=100,top=100,resizable=no,scrollbars=yes,toolbar=no,status=no');
        if (window.focus) {
            newWin.focus();
        }
        return false;
	}

	function setLookUpValues(Id,name,targetId,inputHiddenId){
		document.getElementById(targetId).value = name;
		document.getElementById(inputHiddenId).value = Id;
	}

	function resetInptuHidden(inptuValue,fieldId){
		if(inptuValue == ''){
			document.getElementById(fieldId).value = inptuValue;
		}
	}
</script>
	<apex:form id="f1">
		<apex:pageMessages />
		<apex:pageBlock >
			<apex:pageBlockButtons location="top" >
				<apex:commandButton action="{!Save}" value="{!$Label.EP_Save_Button}"/>
				<apex:commandButton action="{!Cancel}" value="{!$Label.EP_Cancel_Button}"/>
			</apex:pageBlockButtons>
			<apex:pageBlockTable value="{!ctx.notificationAccountList}" var="notifyAcc">
				<apex:column headerValue="{!$Label.EP_Enabled}">
					<apex:inputCheckbox value="{!notifyAcc.notifyAcc.EP_Enabled__c}"/>
				</apex:column>
				<apex:column value="{!notifyAcc.notifyAcc.EP_Sell_To__c}"/>
				<apex:column headerValue="{!$Label.EP_Notification_Type}">
					<apex:outputText value="{!notifyAcc.notifyAcc.EP_Notification_Type__r.Name}"></apex:outputText>
				</apex:column>
				<apex:column headerValue="{!$Label.EP_Notification_Template_Contact}" rendered="{!notifyAcc.notifyAcc.EP_Notification_Code__c!='DIP REMINDERS'}">
					<apex:inputHidden value="{!notifyAcc.inputHiddenContactTemplate}" id="inputHiddenContactTemplate"/>
					<apex:inputText value="{!notifyAcc.contactTemplateName}" ID="EP_Notification_Template_Contact__c" 
									onchange="resetInptuHidden(this.value,'{!$Component.inputHiddenContactTemplate}')"/>
					<a href="#">
						<img src="/s.gif" class="lookupIcon" 
							onclick="openLookUpWindow('{!$Component.EP_Notification_Template_Contact__c}','{!$label.EP_EmailTemplate}','{!ctx.folderId}','{!$Component.inputHiddenContactTemplate}'); return false" 
							onmouseout="this.className='lookupIcon';" onmouseover="this.className='lookupIconOn';"/>
					</a>
				</apex:column>
				<apex:column headerValue="{!$Label.EP_Notification_Template_User}" rendered="{!notifyAcc.notifyAcc.EP_Notification_Code__c!='DIP REMINDERS'}">
					<apex:inputHidden value="{!notifyAcc.inputHiddenUserTemplate}" id="inputHiddenUserTemplate"/>
					<apex:inputText value="{!notifyAcc.userTemplateName}" ID="EP_Notification_Template_User__c"
									onchange="resetInptuHidden(this.value,'{!$Component.inputHiddenUserTemplate}')"/>
					<a href="#">
						<img src="/s.gif" class="lookupIcon" 
							onclick="openLookUpWindow('{!$Component.EP_Notification_Template_User__c}','{!$label.EP_EmailTemplate}','{!ctx.folderId}','{!$Component.inputHiddenUserTemplate}'); return false" 
							onmouseout="this.className='lookupIcon';" onmouseover="this.className='lookupIconOn';"/>
					</a>
				</apex:column>
				<apex:column headerValue="{!$Label.EP_Recipient_Contact}" rendered="{!notifyAcc.notifyAcc.EP_Notification_Code__c!='DIP REMINDERS'}">
					<apex:inputHidden value="{!notifyAcc.inputHiddenContact}" id="inputHiddenContact"/>
					<apex:inputText value="{!notifyAcc.contactName}" ID="EP_Recipient_Contact__c"
									onchange="resetInptuHidden(this.value,'{!$Component.inputHiddenContact}')"/>
					<a href="#">
						<img src="/s.gif" class="lookupIcon" 
							onclick="openLookUpWindow('{!$Component.EP_Recipient_Contact__c}','{!$label.EP_Contact}','{!notifyAcc.notifyAcc.EP_Sell_To__c}','{!$Component.inputHiddenContact}'); return false" 
							onmouseout="this.className='lookupIcon';" onmouseover="this.className='lookupIconOn';"/>
					</a>
				</apex:column>
				<apex:column headerValue="{!$Label.EP_Recipient_User}" rendered="{!notifyAcc.notifyAcc.EP_Notification_Code__c!='DIP REMINDERS'}">
					<apex:inputHidden value="{!notifyAcc.inputHiddenUser}" id="inputHiddenUser"/>
					<apex:inputText value="{!notifyAcc.userName}" ID="EP_Recipient_User__c"
									onchange="resetInptuHidden(this.value,'{!$Component.inputHiddenUser}')"/>
					<a href="#">
						<img src="/s.gif" class="lookupIcon" 
							onclick="openLookUpWindow('{!$Component.EP_Recipient_User__c}','{!$label.EP_User}','','{!$Component.inputHiddenUser}'); return false" 
							onmouseout="this.className='lookupIcon';" onmouseover="this.className='lookupIconOn';"/>
					</a>
				</apex:column>
				<apex:column headerValue="{!$Label.EP_Additional_Recipients}" rendered="{!notifyAcc.notifyAcc.EP_Notification_Code__c!='DIP REMINDERS'}">
					<apex:inputField value="{!notifyAcc.notifyAcc.EP_Additional_Recipients__c}" />
				</apex:column>
			</apex:pageBlockTable>
		</apex:pageBlock>
	</apex:form>
</apex:page>