<apex:page controller="EP_Manual_RetryController" tabStyle="EP_IntegrationRecord__c">
    
    <apex:stylesheet value="{!URLFOR($Resource.EP_StyleLib, 'css/overlay.css')}" />
    
    <c:EP_PerformanceMonitor />
    
    <apex:form id="frm">
        <script>
            var selectedRecords = '';
            var totalSelectedRecords = 0;
            function selectDeselectRecord( element ) 
            {
                if( element.checked )
                {
                    if( totalSelectedRecords < {!Maximux_Record_Count} ) 
                    {
                        selectedRecords += element.id+'{!Id_separater}';
                        totalSelectedRecords++;
                    }
                    else
                    {
                        var caption = '{!$Label.EP_Max_Record_Selection_Error}';
                        caption.replace('[XYZ]', '{!Maximux_Record_Count}');
                        alert(caption);
                        element.checked = false;
                    }
                }
                else
                {
                    selectedRecords = selectedRecords.replace(element.id+'{!Id_separater}', '');
                    totalSelectedRecords--;
                }   
                console.log('selectedRecords=='+selectedRecords);
                console.log('totalSelectedRecords=='+totalSelectedRecords);
            }
            
            
            function reSubmitTemp()
            {
                if( totalSelectedRecords > 0 )
                    resunmit(selectedRecords);
                else
                    alert('{!$Label.EP_No_Record_Selection_Error}');
            }
            
            function reFresh()
            {
                 location.reload();
            }
            
        </script>
        <apex:pagemessages />
        
        <apex:actionStatus id="statusOverlay" startStyleClass="overlay"></apex:actionStatus> 
        
        <apex:actionFunction name="resunmit" action="{!resubmit}" reRender="frm" status="statusOverlay" >
            <apex:param value="" name="selected" /> 
        </apex:actionFunction>
        
        <apex:pageblock title="{!$Label.EP_Integration_Record}">
            <apex:pageBlockButtons location="top">
                
                <apex:commandButton value="{!$Label.EP_Re_Submit_Label}" action="javascript:reSubmitTemp()" reRender="ff" rendered="{!showRecords}"/>
                <apex:commandButton value="{!$Label.EP_Refresh_Label}" action="javascript:reFresh()" reRender="ff" rendered="{!showRecords}"/>
                
            </apex:pageBlockButtons>
            
            <apex:pageBlockTable value="{!IntRecords}" var="intRec" rendered="{!showRecords}">
            
                <apex:column headerValue="Select">
                    <input type="checkbox" id="{!intRec.Id}" onchange="selectDeselectRecord(this)"/>
                </apex:column>
                <apex:column HeaderValue="{!$ObjectType.EP_IntegrationRecord__c.fields.Name.Label}">
                    <apex:outputlink value="{!URLFOR($Action.EP_IntegrationRecord__c.View,intRec.Id,[retURL=$Page.EP_Manually_Resend_Int_Record])}" target="_blank">
                        <apex:outputText value="{!intRec.Name}"/>
                    </apex:outputLink>
                </apex:column>
                <apex:column value="{!intRec.EP_Status__c}"/>
                <apex:column value="{!intRec.EP_Target__c}"/>
                <apex:column value="{!intRec.EP_Object_Type__c}"/>
                <apex:column value="{!intRec.EP_Object_Record_Name__c}"/>
                <apex:column value="{!intRec.EP_IsLatest__c}"/>
                <apex:column value="{!intRec.EP_DT_SENT__c}"/>
                <apex:column value="{!intRec.EP_Object_ID__c}"/>
            </apex:pageBlockTable>
            <apex:outputPanel layout="block" style="text-align:center" rendered="{!showRecords}">
                <apex:commandLink style="text-align:center" value="{!$Label.EP_Previous_Label}" action="{!IntSetController.Previous}" rendered="{!IntSetController.hasPrevious}" />&nbsp;&nbsp;
                <apex:outputText style="text-align:center" value="{!$Label.EP_Previous_Label}" rendered="{!!IntSetController.hasPrevious}" />&nbsp;&nbsp;
                <apex:commandLink value="{!$Label.EP_Next_Caption}" action="{!IntSetController.Next}" rendered="{!IntSetController.hasNext}"/>&nbsp;&nbsp;
                <apex:outputText value="{!$Label.EP_Next_Caption}" rendered="{!!IntSetController.hasNext}" />
            </apex:outputPanel>
        
        </apex:pageblock>
    </apex:form>
</apex:page>