<!--/***L4-45352 start****/-->
<apex:page showHeader="false" standardcontroller="Pricebook2" extensions="EP_ProductListExtension"  id="pageId" action="{!CreatePriceBookReview}">

<!----------------------script for edit and delete from Link-------->
    <script>
        function DeleteProducts1(id_element){
            var array = id_element.split(':');
            document.getElementById('{!$Component.pageId:formId:idInptHdn}').value=  array[array.length-2];
            DeleteProducts();
        }
        
        function EditProducts1(id_element){
            var array = id_element.split(':');
            document.getElementById('{!$Component.pageId:formId:idInptHdn}').value=  array[array.length-2];
            window.top.location.href='/' + id_element+'{!$Label.EP_EDITRETURNTOURL}{!ctx.PriceBookId}'
        }
        function openProd(id_element){
            window.top.location.href='/'+ id_element
        }
    </script>
    <!------------------Page details -------->
    <apex:form id="formId" >
        
        <apex:actionFunction name="DeleteProducts" action="{!DeleteProducts}" />
        <apex:inputHidden value="{!ctx.PriceBookdelId}" id="idInptHdn"/>
         <apex:pageBlock id="pageblockid">
         <!------------------Add/Edit All Buttons ------->
             <div align="center" draggable="false" >
                <apex:commandButton value="Add" onclick="window.top.location.href='{!$Label.EP_ADDPRODUCT_URL}{!ctx.PriceBookId}{!$Label.EP_RETURNTOURL}{!ctx.PriceBookId}'"/>
                <apex:commandButton value="Edit All" onclick="window.top.location.href='{!$Label.EP_EDITPRODUCTURL}{!ctx.PriceBookId}{!$Label.EP_RETURNTOURL}{!ctx.PriceBookId}'"/>  
                
             </div>
             <!------------------Error Message ------->
             <apex:outputPanel id="pageMessage">
             <apex:pageMessages id="error" rendered="{!ctx.ShowErrorForTank}"/>
             </apex:outputPanel>
             <!------------------Table Details ------->
             <apex:pageBlockTable value="{!ctx.ListProd}" var="Prod" id="tableid">
             
                 <apex:variable value="{!0}" var="counter"/>
                 <apex:column headerValue="Action" id="Actionid"><apex:outputLink value="javascript:void(0);" id="editId" onclick="EditProducts1('{!Prod.Id}')"><b>Edit</b></apex:outputLink> | <apex:outputLink value="javascript:void(0);" id="del" onclick="DeleteProducts1(this.id)"><b>Del</b></apex:outputLink> </apex:column>
                 <apex:column headerValue="Product Name">
                     <!--<apex:outputLink onclick="window.top.location.href='/{!Prod.Product2.id}'">{!Prod.Product2.Name}</apex:outputLink>-->
                     <apex:outputLink value="javascript:void(0);" id="prodId" onclick="openProd('{!Prod.Product2.id}')">{!Prod.Product2.Name}</apex:outputLink>
                 </apex:column>
                 <apex:column headerValue="Product Code" value="{!Prod.Product2.ProductCode}"/> 
                 <apex:column headerValue="List Price" value="{!Prod.UnitPrice}"/>
                 <apex:column headerValue="Active" value="{!Prod.IsActive}"/>
                  
            </apex:pageBlockTable>
          </apex:pageBlock>
    </apex:form>
      
  
</apex:page>