<apex:page standardController="EP_Tank__c" extensions="EP_TankDetailPageController" id="page" action="{!fetchProductValues}">
    <!-- Defect : 46578 - Start -->
    <c:EP_PerformanceMonitor />
    <!-- Defect : 46578 - End -->
    <apex:sectionHeader title="{!$ObjectType.EP_Tank__c.Label} {!$Label.EP_Edit_Label}" rendered="{!ISBLANK(EP_Tank__c.Name)}"
                            subtitle="{!$Label.EP_New_Label} {!$ObjectType.EP_Tank__c.Label}"/>
    
    <apex:sectionHeader title="{!$ObjectType.EP_Tank__c.Label} {!$Label.EP_Edit_Label}" rendered="{!NOT(ISBLANK(EP_Tank__c.Name))}"
                            subtitle="{!EP_Tank__c.Name}"/>
    
    <!-- Fix for Defect 29809 - Start -->                      
    <apex:form id="form">
        <apex:pageMessages id="pgMsgs" escape="false"></apex:pageMessages>
        
        <apex:pageBlock title="{!$ObjectType.EP_Tank__c.Label} {!$Label.EP_Edit_Label}" mode="{!$Label.EP_Edit_Label}">
        
            <apex:actionRegion id="actRgn" renderRegionOnly="true">
                <apex:pageBlockSection title="{!$Label.EP_Details_Label_Plural}" collapsible="false">
                    <apex:inputField value="{!EP_Tank__c.EP_Ship_To__c}">
                        <apex:actionSupport event="onchange" action="{!fetchProductValues}" rerender="product,pgMsgs,lbl"/>
                    </apex:inputField>
                    <apex:pageblockSectionItem >
                        <apex:outputLabel value="{!$ObjectType.EP_Tank__c.fields.EP_Product__c.Label}"></apex:outputLabel>
                        <apex:outputPanel styleClass="requiredInput" layout="block" id="product">
                            <apex:outputPanel styleClass="requiredBlock" layout="block"></apex:outputPanel>
                            <apex:selectList size="1" value="{!EP_Tank__c.EP_Product__c}">
                                <apex:selectOptions value="{!ProductValues}"/>
                                <!--#L4_45352_Start 
                                <apex:actionSupport event="onchange" action="{!updateUOM}" rerender="lbl"/>
                                #L4_45352_END-->
                            </apex:selectList>
                        </apex:outputPanel>
                    </apex:pageblockSectionItem>
                    <!-- #L4_45352_Start-->
                    <!--<apex:outputText label="{!$ObjectType.EP_Tank__c.fields.EP_UnitOfMeasure__c.Label}" value="{!EP_Tank__c.EP_UnitOfMeasure__c}" id="lbl"></apex:outputText>-->
                    <!-- #L4_45352_END-->
                </apex:pageBlockSection>      
            </apex:actionRegion>
            <apex:pageBlockSection collapsible="false">
                <apex:repeat value="{!$ObjectType.EP_Tank__c.FieldSets.EP_Tank_Detail_Page}" var="tankFields">
                        <apex:inputField value="{!EP_Tank__c[tankFields]}" 
                            rendered="{!IF(AND(UPPER(tankFields)!='EP_SHIP_TO__C',UPPER(tankFields)!='EP_PRODUCT__C',UPPER(tankFields)!='EP_UnitOfMeasure__c'), true, false)}" 
                                required="{!OR(tankFields.DBRequired,tankFields.Required)}" />
                </apex:repeat>
            </apex:pageBlockSection>
            
            <apex:pageBlockButtons >
                <apex:commandButton value="{!$Label.EP_Save}" action="{!SAVE}" rendered="{!blnShowSaveButton}" />
                <apex:commandButton value="{!$Label.EP_Cancel_Label}" action="{!cancel}"/>
            </apex:pageBlockButtons>
        </apex:pageBlock>
    </apex:form>
    <!-- Fix for Defect 29809 - End -->
</apex:page>