<apex:component selfClosing="true">
    <script>
        window['adrum-start-time'] = new Date().getTime();
    </script>
    <apex:includeScript value="{!URLFOR($Resource.EP_Adrum, 'adrum_' + $Organization.Id + '.js')}"/>
</apex:component>