<apex:component selfClosing="false" access="global">
    
    <apex:attribute name="style" type="String" description="A inline style that to be applied to the component" access="global" required="false"/>
    <apex:attribute name="styleclass" type="String" description="The CSS style class to be used with the component" access="global" required="false"/>

    
    <apex:outputPanel styleClass="visualstrap {!styleclass}" style="{!style}" layout="block" >
        <apex:componentBody id="compBody"/>
    </apex:outputPanel>
</apex:component>