	.overlay {
            background-image: url('/img/loading32.gif');
            background-repeat: no-repeat;
            background-position: 50% center;
            background-size: 20px;
            background-color: black;
            cursor: wait;
            opacity: 0.6;
            /* Generic for Major browsers */
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
            /* IE 5-7 */
            filter: alpha(opacity = 60);
            /* Netscape */
            -moz-opacity: 0.6;
            /* Safari 1.x */
            -khtml-opacity: 0.6;
            position: fixed;
            width: 100%; 
            height: 100%;
            top: 0;
            left: 0;
            z-index: 101;
            zIndex: 101;
        }
        .nameTg{
            font - size :10px;
        }