.requiredInput{
    float: left;
}
input.Field-REFERENCE{
    pointer-events: none;
    background-color: lightgrey;
}
.pencilImg{
}
.labelCol{
    border-bottom: none !important;
    text-align: left !important;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 100% !important;    
}
.pbSubsection{
    padding-left:0px !important;
}
div.hideField td.data2Col { display:none; }
div.hideField td.dataCol { display:none; }
div.hideField td.labelCol { padding-top:none;font-size:11px;padding-right:0px; }
div.hideField div.pbSubsection { height:auto;margin-top:0px;padding-right:0px; }
div.hideField {text-align:right;}
border-bottom: 0px none; 
text-align: left; 
font-family: Arial,Helvetica,sans-serif; 
font-size: 110%;