.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; padding-left: 30px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }
.tab-content {
border-left: 1px solid #ddd;
border-right: 1px solid #ddd;
padding: 10px;
}

.slds-tabs--path__title{
	font-size: medium;
}
		 
.nav-tabs {
margin-bottom: 0;
}

.spinner {
		position: fixed;
		top:0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 98;
		overflow: auto;
}
.overlay{
	z-index: 99;
	position: relative;

}

#tanks{
	width: 100%;
	height: 50%;
	top: 20%
	left: 40%;
}

.titleonly{ 
	padding: 5px 0 5px;
	background-color: #344a5f;
	color: #ffffff;
	margin-bottom: 10px;
 }

.titleonly h3{ 
	margin: 5px;
	color: #ffffff;
	font-weight: bold;
}

.required{
	border-left:4px solid Red;
}

.firstcol{
   // margin-left: 25px;
}

textarea{
	width: 100%;
}

.form-control:focus {
	border-color: #000000;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(105, 105, 105, 0.5);
}

.borderrow{
	border-bottom: 1px solid lightgrey;
	margin-bottom: 15px;
}
.panel-subtitle{
	margin-bottom: 10px;
	margin-top: 0px;
}

.nobg{
	border: none;
	background: none;
	color: white;
}

.customspace{
	margin-right: 10px;
}

.popupdetailbtn{
	margin-top: 23px;
}