
.slickgrid-wrapper {
	
}

.buttons-wrapper {
	direction: rtl;
}

.button-group {
	direction: ltr;
	/*padding-right: 55%;*/
}

.csv-parser {
	direction: ltr;
}

/*  test start */


/* test end */

header {
	background-color:white;
}

.container header h2 {
	display: none;
}

.icon-setting {
	
}
.cs-btn {
	background-image:none;
	background: #00945b;
	color: white;
}

.buttons-wrapper {
	position: static;
	width: 100%;
}

.slick-header .slick-header-column {
	color: #007A4B;
	text-transform: uppercase;
	background-color:white;
}
.ui-state-default .slick-header-column .ui-sortable-handle {
	width:4%;
	/*display: inline-block;*/
}
/*  .slick-column-name */

.slick-header-columns {
	background-color:white;
}

/* .slick-sort-indicator .slick-resizable-handle .ui-sortable */

footer, div{
	background-color:white;
}

.icon-copy[disabled], .icon-delete[disabled] {
	visibility: hidden;
  /*  background-color: #f4f6f9;
    color: #005fb2;
    opacity: .5;
    cursor: default; */
}

.uploadFileButton, .upload-wrapper {
	visibility: hidden;
}


footer .buttons-wrapper button { /*:first-child  { */
	display:none;
}
/*
.icon-copy, .icon-delete {
	visibility: hidden;
}
*/
/*
.icon-setting {
	display:none;
}
*/

/*@media screen and (max-width: 1640px) {
    .button-group {
		padding-right: 45%;
	}
}

@media screen and (max-width: 1350px) {
    .button-group {
		padding-right: 30%;
	}
}

@media screen and (max-width: 1030px) {
    .button-group {
		padding-right: 10%;
	}
}
*/
@media screen and (max-width: 872px) {
    /*.button-group {
		padding-right: 1%;
	}*/
	/*.icon-setting {
		padding: 0.2rem;
	}*/
}


/*
#editorPageButtons {
    padding: 0;
}
.slick-row.ui-widget-content {
	border: 1px solid transparent;
}
.slick-row.ui-widget-content:hover {
	border: 1px solid #d8dde6;
	background: #f4f6f9;
}
.grantTotalContainer label, .slick-header-column.ui-state-default {
    text-transform: uppercase;
    color: #007A4B;
}
.slick-cell {
    color: #16325c;
    border-right-color: #d8dde6;
    border-bottom-color: #d8dde6;
}
.slick-header {
    border-color: #d8dde6;
}
.myGrid {
    border-color: #d8dde6;
}
.btnWrapper button {
    display: none;
}

.btnWrapper label {
    text-align: center;
    background-color: #007A4B;
    border: 1px solid #007A4B;
    color: #fff;
    line-height: 1rem;
    padding: 0.25rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
}


.btnWrapper label:hover {
	background: #00945b;
}
#editorPageButtons .btnWrapper:nth-child(6) {
    display: none;
}
.footer .btnWrapper {
    width: auto;
}
.uploadFileWrapper input {
    margin: 0 1rem 0 0;
    padding: 4px 0;
}
.footer .btnWrapper:first-of-type {
    margin-left: 0;
}
#importButtonContainer {
    padding-left: 1rem !important;
}
.viewSettingsPanel {
    padding: 0;
    background: #f4f6f9;
    border: 1px solid #d8dde6;
    border-radius: .25rem;
    background-clip: padding-box;
    color: #16325c;
}
.item-details-form {
    border: 1px solid #d8dde6;
    border-radius: 0.25rem;
}
.item-details-label {
    color: #007A4B;
}
h2>span.pageTitle>p {
    color: #16325c;
}
.viewSettingsPanel h2 {
    display: block;
    padding: 0.25rem 0.75rem;
    border-bottom: 1px solid #d8dde6;
}
.pageBlock.footer {
    border-top: 1px solid #d8dde6;
    padding: 0.75rem 0.75rem;
    margin: 0;
}
.viewSettingsPanel .footer .btnWrapper.right {
    margin: 0 !important;
}
.viewSettingsPanel > div:first-of-type {
    padding: 0.5rem;
    background: #fff;
}
.grandTotalContainer .grandTotalLabel, .viewSettingsPanel .settingLabel {
    color: #54698d;
}
.viewSettingsPanel .columnSelector .container {
    border: 1px solid #d8dde6;
}
.viewSettingsPanel .columnSelector .content {
    border: none;
    border-top: 1px solid #d8dde6;
}
.viewSettingsPanel .columnSelector .cell.checkbox {
    background: transparent url('https://c.cs54.visual.force.com/resource/1490902152000/trafiguraCheckboxUnchecked') no-repeat center / 14px;
    cursor: pointer;
}
.viewSettingsPanel .columnSelector .cell.checkbox.selected {
    background: transparent url('https://c.cs54.visual.force.com/resource/1490902140000/trafiguraCheckboxChecked') no-repeat center / 14px;
}
div.processing {
    background: rgba(200,200,200,0.5) url('https://csse.cs54.visual.force.com/resource/1490193751000/csse__slds/assets/images/spinners/slds_spinner.gif') no-repeat center 2rem / 5rem;
    z-index: 50;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
}
.gridBusy {
	background: rgba(200,200,200,0.5);
}
.gridBusyAnimation, .gridBusyAnimation.large {
	background: transparent url('https://csse.cs54.visual.force.com/resource/1490193751000/csse__slds/assets/images/spinners/slds_spinner.gif') no-repeat center 2rem / 5rem;
}
.viewSettingsPanel select,
.item-details-form select {
    background-color: #fff;
    color: #16325c;
    border: 1px solid #d8dde6;
    border-radius: .25rem;
    width: 100%;
    transition: border .1s linear,background-color .1s linear;
    height: calc(1.5rem + (1px * 2));
}
.viewSettingsPanel select:focus, .viewSettingsPanel select:active {
    outline: 0;
    border-color: #00945b;
    background-color: #fff;
    box-shadow: 0 0 3px #007A4B;
}
.uploadFileWrapper input {
	cursor: pointer;
}
.ui-widget-content.slick-row.even.slick-group, .ui-widget-content.slick-row.odd.slick-group {
	background-color: #54698d;
	border: none;
}
span.slick-group-title {
	padding: 0 0.5rem;
	color: #fff;
}
.slick-row.ui-widget-content.slick-group-totals {
	background: #9faab5;
}
.grandTotal div {
	background: #9faab5;
	padding: 0.25rem;
}
*/

















